/* Common CSS for all pages */

input {
    color: black;
}

#mainHeader {
    background-image: linear-gradient(180deg, #822faf, #8b057e);
}
#div-1 {
    background-image: linear-gradient(115deg, rgba(241, 148, 210, 0.87), rgba(238, 27, 150, 0.788)),
        url(/image/blogBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
img {
    max-width: 100%;
    height: auto;
}
#div-2 {
    background-color: #a8159a;
}
